storm.debug=FALSE
storm.name=NAME

accumulo.name=NAME
accumulo.zooservers=ZOO SERVERS
accumulo.user=USER
accumulo.password=PASSWORD
accumulo.table_name=TABLE NAME
accumulo.batch_writer.max_memory=10000000